<div class="inner">


        


    <!-- Menu --> 
        <nav id="menu">
            <header class="major">
                <h2>Menu</h2>
            </header>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/learn">About Us</a></li>
                <li><a href="/donate">Donate</a></li>
            </ul>
        </nav>

    <!-- Section -->
        <section>
            <header class="major">
                <h2>Get in Touch</h2>
            </header>
            <ul class="contact">
                <ul class="contact">
                <li class="icon solid fa-envelope"><a href="mailto:main@skyhawkbotics.org?subject=I wanted to get ahold of you.">main@skyhawkbotics.org</a></li>
                <li class="icon solid fa-phone"><a href="tel:971 384-0644">(971) 384-0644 Text Only.</a></li>
            </ul>
        </section>
    <!-- Footer -->
        <footer id="footer">
            <p class="copyright">&copy; Hawkbot1cs. All rights reserved. Design: <a href="https://html5up.net">HTML5 UP</a>.</p>
        </footer>

</div>
