<div class="inner">


        


    <!-- Menu --> 
        <nav id="menu">
            <header class="major">
                <h2>Menu</h2>
            </header>
            <ul>
                <li><a href="/website/">Home</a></li>
                <li><a href="/website/learn">About Us</a></li>
                <li><a href="/website/donate">Donate</a></li>
            </ul>
        </nav>

    <!-- Section -->
        <section>
            <header class="major">
                <h2>Get in Touch</h2>
            </header>
            <ul class="contact">
                <ul class="contact">
                <li class="icon solid fa-envelope"><a href="mailto:skyhawkbotics@gmail.com?subject=I wanted to get a hold of you.">skyhawkbotics@gmail.com</a></li>
                <li class="icon solid fa-phone"><a href="tel:971 384-0644">(971) 384-0644</a></li>
            </ul>
        </section>
    <!-- Footer -->
        <footer id="footer">
            <p class="copyright">&copy; Hawkbot1cs. All rights reserved. Design: <a href="https://html5up.net">HTML5 UP</a>.</p>
        </footer>

</div>
