<!DOCTYPE HTML>
<!--
	Editorial by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Hawkbot1cs</title>
		<%- include("partials/head") %>

	</head>
	<body class="is-preload">
		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<div id="main">
						<div class="inner">

							<!-- Header -->
								<header id="header">
									<%- include("partials/header") %>
								</header>

							<!-- Banner -->
								<section id="banner">
									<div class="content">
										<header>
											<h1>Hawkbotics<br />
												20790</h1>
										</header>
										<p>Welcome to Southridge High School's Robotics Club, Hawkbot1cs!</p>
										<ul class="actions">
											<li><a href="learn" class="button big">Learn More</a></li>
										</ul>
									</div>
									<span class="image object">
										<img src="images/Hawkbotics_clear.png" alt="logo" />
									</span>
								</section>

							<!-- Goals -->
								<section>
									</header>
									<div class="features">
										<article>
											<span class="icon fa-gem"></span>
											<div class="content">
												<h3>Compete in the First Tech Challenge</h3>
												<p>The goal for this club this year is to compete in the First Tech Challenge, and hopefully we would be able to compete in the First Robotics Competition next year.</p>
											</div>
										</article>
										<article>
											<span class="icon solid fa-paper-plane"></span>
											<div class="content">
												<h3>Develop capable engineering and coding skills</h3>
												<p>As young students, we still have lots to learn. With cooperation between peers we can learn something that we didn't know before, and also help others gain extra knoledge that they didn't posess before.</p>
											</div>
										</article>
										<article>
											<span class="icon solid fa-rocket"></span>
											<div class="content">
												<h3>Give our club members something to focus on during their spare time</h3>
												<p>We know this doesn't apply to all, but some people have lots of spare time on their hands. Whats better to do with that time, than to do something that interests you?</p>
											</div>
										</article>
										<article>
											<span class="icon solid fa-signal"></span>
											<div class="content">
												<h3>Learn to be a better person?</h3>
												<p>insert thing here lol</p>
											</div>
										</article>
									</div>
								</section>

							<!-- Section -->
								<section>
									</header>
									<div class="posts">
										<article>
											<a href="" class="image"><img src="imagehere.png" alt="INSERT IMAGE HERE!" /></a>
											<h3>About Us</h3>
											<p>We are located at Southridge High School, in Beaverton, Oregon. At Southridge Robotics Club, we are a team of friends who...</p>
											<ul class="actions">
												<li><a href="/learn" class="button">More</a></li>
											</ul>
										</article>
										<article>
											<a href="#" class="image"><img src="imagehere.png" alt="INSERT IMAGE HERE!" /></a>
											<h3>Donate</h3>
											<p>We are always in need of funds. Because we are a first year club, we don't have anything. Most other teams that are competing already have a robot, and only have to modify it. However, we have to completely build a robot from scratch.</p>
											<ul class="actions">
												<li><a href="/donate" class="button">More</a></li>
											</ul>
										</article>
									</div>
								</section>

						</div>
					</div>

				<!-- Sidebar -->
					<div id="sidebar">
						<%- include("partials/sidebar") %>
					</div>

			</div>

		<!-- Scripts -->
			<%- include("partials/footer") %>

	</body>
</html>
