<!DOCTYPE HTML>
<!--
	Editorial by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Hawkbot1cs</title>
		<%- include("partials/head") %>

	</head>
	<body class="is-preload">
		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<div id="main">
						<div class="inner">

							<!-- Header -->
								<header id="header">
									<%- include("partials/header") %>
								</header>

							<!-- Banner -->
								<section id="banner">
									<div class="content">
										<header>
											<h1>Hawkbotics<br />
												20790</h1>
										</header>
										<p>Welcome to Southridge High School's Robotics Club, Hawkbot1cs!</p>
										<ul class="actions">
											<li><a href="learn" class="button big">Learn More About Us</a></li>
										</ul>
									</div>
									<span class="image object">
										<img src="images/Hawkbotics_clear.png" alt="logo" />
									</span>
								</section>

							<!-- Goals -->
						</header>
						<section>
						</section>
							<h1>Our Mission</h1>
								<section>
									</header>
									<div class="features">
										<article>
											<span class="icon fa-gem"></span>
											<div class="content">
												<h3>Develop Lifelong Engineering and Coding Skills!</h3>
												<p>Each year, our job market is changing with fresh new technology and ideas. The next generation must be capable of showing great coding and engineering skills to be competitive in our 21st century work environment.</p>
											</div>
										</article>
										<article>
											<span class="icon solid fa-paper-plane"></span>
											<div class="content">
												<h3>Compete in the First Tech Challenge!</h3>
												<p>What would robotics be without a goal to work towards? The First Tech Challenge is a competition that brings together teams from all around the country to compete in a theme-based game, usually based on current events! We spend about 1/2 of our year preparing for this, starting with Kickoff in September and the finals in late January, but you can find us at meets all over Oregon around November and December!</p>
											</div>
										</article>
										<article>
											<span class="icon solid fa-rocket"></span>
											<div class="content">
												<h3>Learn Teamwork Through Fun, Interactive Projects!</h3>
												<p>As young students, we still have lots to learn, and cooperation is one big part. Today, the biggest advancements in science and technology are no longer done by individuals, but teams of people. We hope to bring these valuable teamwork skills to the competition and beyond!</p>
											</div>
										</article>
										<article>
											<span class="icon solid fa-signal"></span>
											<div class="content">
												<h3>Have Fun!</h3>
												<p>What better way to learn, than to be surrounded by supportive, like-minded team members in a casual and engaging environment. When it comes to robotics, this team's motto is, "Just bring yourself. We'll fill you in on the rest later." </p>
											</div>
										</article>
									</div>
								</section>

							<!-- Section -->
								<section>
									</header>
									<div class="posts">
										<article>
											<a href="" class="image"><img src="images/robot.jpeg" alt="robot.jpeg" /></a>
											<h3>About Us</h3>
											<p>We are located at Southridge High School, in Beaverton, Oregon. At Southridge Robotics Club, we are dedicated to developing great skills and foster great friendships. Founded in 2021 with the goal of competing in the First Tech Challenge, we overcame many challanges faced by many entrepeneurs, broadening some of our other skills. We hope to be part of the 2022 First Tech Challenge and hope to see you at the competition!</p>
											<ul class="actions">
												<li><a href="learn" class="button">More</a></li>
											</ul>
										</article>
										<article>
											
											<h3>Donate</h3>
											<p>We are always in need of funds. As a first year team, we've realized how crucial funding is to the success of our team. We appreciate all donations no matter size. For instructions or a list of our costs/needs, please head over to the donate tab.</p>
											<ul class="actions">
												<li><a href="donate" class="button">More</a></li>
											</ul>
											<a href="" class="image"><img src="public/images/robot2.jpeg" alt="IMG_8757.jpeg" /></a>
										</article>
									</div>
								</section>

						</div>
					</div>

				<!-- Sidebar -->
					<div id="sidebar">
						<%- include("partials/sidebar") %>
					</div>

			</div>

		<!-- Scripts -->
			<%- include("partials/footer") %>

	</body>
</html>
