$primaryBackground: #000000;

$sidebarBackground: #292929;
$sidebarDivider: #ada7a7;
$sidebarText: #f8dddd;
$sidebarTextHover: #db201e;
$sidebarBorder: #db201e;
$sidebarIcon: #db201e;
$sidebarTextDark: #a7abad;

$headerLogoTextStrong: #a7abad;
$headerLogoText: #8f9395;
$headerBurgerColor: #db201e;
$headerBorder: #db201e;
$headerIcon: #a7abad;
$headerIconHover: #db201e;
$headerLogoTextHover: #db201e;

$pageText: #f8dddd;
$pageTextDark: #a7abad;
$pageBorder: #a7abad;
$pageTextHighlight: #db201e;

$buttonText: #db201e;
$buttonBorder: #db201e;
$buttonTextHover: #f8dddd;
$buttonBackground: #a64747;
