$primaryBackground: #2c2c2c;

$sidebarBackground: #292929;
$sidebarDivider: #a7abad;
$sidebarText: #ddedf8;
$sidebarTextHover: #f56a6a;
$sidebarBorder: #f56a6a;
$sidebarIcon: #f56a6a;
$sidebarTextDark: #a7abad;

$headerLogoTextStrong: #a7abad;
$headerLogoText: #8f9395;
$headerBurgerColor: #f56a6a;
$headerBorder: #f56a6a;
$headerIcon: #a7abad;
$headerIconHover: #f56a6a;
$headerLogoTextHover: #f56a6a;

$pageText: #ddedf8;
$pageTextDark: #a7abad;
$pageBorder: #a7abad;
$pageTextHighlight: #f56a6a;

$buttonText: #f56a6a;
$buttonBorder: #f56a6a;
$buttonTextHover: #ddedf8;
$buttonBackground: #a64747;
