$primaryBackground: #000000;

$sidebarBackground: #292929;
$sidebarDivider: #a7abad;
$sidebarText: #ddedf8;
$sidebarTextHover: #dc210e;
$sidebarBorder: #dc210e;
$sidebarIcon: #dc210e;
$sidebarTextDark: #a7abad;

$headerLogoTextStrong: #a7abad;
$headerLogoText: #8f9395;
$headerBurgerColor: #dc210e;
$headerBorder: #dc210e;
$headerIcon: #a7abad;
$headerIconHover: #dc210e;
$headerLogoTextHover: #dc210e;

$pageText: #ddedf8;
$pageTextDark: #a7abad;
$pageBorder: #a7abad;
$pageTextHighlight: #dc210e;

$buttonText: #dc210e;
$buttonBorder: #dc210e;
$buttonTextHover: #ddedf8;
$buttonBackground: #a64747;
