<!-- Header -->

<h1 id="logo"<span class="hawkbot1cslogo"><a href="routes">Hawkbot1cs</a></span></h1>
<nav id="nav">
    <ul>
        <li>
            <a href="routes/ftc">FTC</a>
            <ul>
                <li><a href="routes/ftc/seasonperformance">Our Performance</a></li>
                <li><a href="right-sidebar.html">Our Robot</a></li>
                <li><a href="no-sidebar.html">No Sidebar</a></li>
                <li>
                    <a href="#">Submenu</a>
                    <ul>
                        <li><a href="#">Option 1</a></li>
                        <li><a href="#">Option 2</a></li>
                        <li><a href="#">Option 3</a></li>
                        <li><a href="#">Option 4</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            <a href="routes/outreach">Outreach</a>
            <ul>
                <li><a href="right-sidebar.html">Our Robot</a></li>
                <li><a href="no-sidebar.html">No Sidebar</a></li>
                <li>
                    <a href="#">Submenu</a>
                    <ul>
                        <li><a href="#">Option 1</a></li>
                        <li><a href="#">Option 2</a></li>
                        <li><a href="#">Option 3</a></li>
                        <li><a href="#">Option 4</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            <a href="routes/nonprofit">Nonprofit</a>
            <ul>
                <li><a href="right-sidebar.html">Our Values</a></li>
                <li><a href="no-sidebar.html">Structure</a></li>
                <li><a href="routes/nonprofit/publicdocs">Documents</a></li>
                <li>
                    <a href="#">Submenu</a>
                    <ul>
                        <li><a href="#">Option 1</a></li>
                        <li><a href="#">Option 2</a></li>
                        <li><a href="#">Option 3</a></li>
                        <li><a href="#">Option 4</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li><a href="routes/calendar">Calendar</a></li>
        <li><a href="routes/donate">Donate</a></li>
        <li><a href="routes/involved" class="button primary">Join Us!</a></li>
    </ul>
</nav>